<input class="btn-primary btn" type="button" value="Refresh Profile" (click)="refresh()">
<div *ngIf="user">
    <h2>{{user.userName}}</h2>
    <p>{{user.dateOfBirth}}</p>
    <p>{{user.age}}</p>

</div>
